.metadata/
.gwt-log/
*.class
*.apk                                                                                                        
*.dex                                                                                                        
*.class                                                                                                      
